In [99]:
import pandas as pd

In [100]:
unemployment = pd.read_csv("/Users/matthewcavanaugh/Desktop/Data analysis work/Election 2000 2020/estimates/Unemployment2023.csv")
unemployment

,FIPS_Code,State,Area_Name,Attribute,Value
0,0,US,United States,Civilian_labor_force_2000,142601576.0
1,0,US,United States,Employed_2000,136904853.0
2,0,US,United States,Unemployed_2000,5696723.0
3,0,US,United States,Unemployment_rate_2000,4.0
4,0,US,United States,Civilian_labor_force_2001,143786537.0
...,...,...,...,...,...
329721,72153,PR,"Yauco Municipio, PR",Unemployment_rate_2022,10.3
329722,72153,PR,"Yauco Municipio, PR",Civilian_labor_force_2023,10488.0
329723,72153,PR,"Yauco Municipio, PR",Employed_2023,9278.0
329724,72153,PR,"Yauco Municipio, PR",Unemployed_2023,1210.0
329725,72153,PR,"Yauco Municipio, PR",Unemployment_rate_2023,11.5

In [101]:
# Split attribute into 'Attribute' and 'Year'
unemployment[['Attribute', 'Year']] = unemployment['Attribute'].str.extract(r'(.+?)_(\d{4})')

# Convert Year to integer (optional but recommended for sorting/filtering)
unemployment['Year'] = unemployment['Year'].astype(int)

In [102]:
# Drop national and state aggregates, only keep county equivalents
unemployment = unemployment[unemployment['Area_Name'].str.contains('County|City|city|Parish|District of Columbia', na=False)]

In [103]:
# Remove ", XX" at the end of the string
unemployment['Area_Name'] = unemployment['Area_Name'].str.replace(r',\s*[A-Z]{2}$', '', regex=True)

/var/folders/cf/4zrkk0lx1nbdx9tpklpk4jc00000gn/T/ipykernel_39560/1912612501.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unemployment['Area_Name'] = unemployment['Area_Name'].str.replace(r',\s*[A-Z]{2}$', '', regex=True)

In [106]:
unemployment

,FIPS_Code,State,Area_Name,Attribute,Value,Year
195,1001,AL,Autauga County,Rural_Urban_Continuum_Code,2.0,2023
196,1001,AL,Autauga County,Urban_Influence_Code,2.0,2013
197,1001,AL,Autauga County,Metro,1.0,2023
198,1001,AL,Autauga County,Civilian_labor_force,21861.0,2000
199,1001,AL,Autauga County,Employed,20971.0,2000
...,...,...,...,...,...,...
322219,56045,WY,Weston County,Employed,3795.0,2023
322220,56045,WY,Weston County,Unemployed,81.0,2023
322221,56045,WY,Weston County,Unemployment_rate,2.1,2023
322222,56045,WY,Weston County,Median_Household_Income,67677.0,2022
322223,56045,WY,Weston County,Med_HH_Income_Percent_of_State_Total,95.0,2022

In [108]:
unemployment['Attribute'].value_counts()

Attribute
Civilian_labor_force                    74784
Employed                                74784
Unemployed                              74784
Unemployment_rate                       74784
Urban_Influence_Code                     3116
Median_Household_Income                  3109
Med_HH_Income_Percent_of_State_Total     3109
Rural_Urban_Continuum_Code               3108
Metro                                    3108
Name: count, dtype: int64

In [109]:
unemployment = unemployment[unemployment['Attribute'].str.contains('Unemployment_rate', na=False)]

In [110]:
unemployment.rename(columns={'Value': 'Unemployment rate'}, inplace=True)
unemployment.drop('Attribute', axis=1, inplace=True)
unemployment

/var/folders/cf/4zrkk0lx1nbdx9tpklpk4jc00000gn/T/ipykernel_39560/910044994.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unemployment.rename(columns={'Value': 'Unemployment rate'}, inplace=True)
/var/folders/cf/4zrkk0lx1nbdx9tpklpk4jc00000gn/T/ipykernel_39560/910044994.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unemployment.drop('Attribute', axis=1, inplace=True)

        FIPS_Code State       Area_Name  Unemployment rate  Year
201          1001    AL  Autauga County                4.1  2000
205          1001    AL  Autauga County                4.1  2001
209          1001    AL  Autauga County                4.8  2002
213          1001    AL  Autauga County                5.0  2003
217          1001    AL  Autauga County                4.7  2004
...           ...   ...             ...                ...   ...
322205      56045    WY   Weston County                3.0  2019
322209      56045    WY   Weston County                3.9  2020
322213      56045    WY   Weston County                3.2  2021
322217      56045    WY   Weston County                2.6  2022
322221      56045    WY   Weston County                2.1  2023

[74784 rows x 5 columns]

In [111]:
unemployment['State'].nunique()

51

Drop Alaska

In [112]:
unemployment = unemployment[~unemployment['State'].str.contains('AK', na=False)]

In [113]:
unemployment['State'].nunique()

50